{{template "base" .}}
{{define "content"}}
    <h1>About Page</h1>
    <p>{{index .StringMap "test"}}</p>

    {{if ne (index .StringMap "remote_ip") "" }}
        You remote IP address is {{index .StringMap "remote_ip"}}
    {{else}}
        I don't know your ip address. Visit the <a href="/">Home page</a>
    {{end}}
{{end}}